@mixin flex($direction, $justify-content:"", $align-itm:"") {
    display: flex;
    flex-direction: $direction;
    justify-content: #{$justify-content};
    align-items: #{$align-itm};
}

@mixin sizing ($width, $height) {
    width: #{$width};
    height: #{$height};
}

@mixin mobile-only {
    @media only screen and (max-width: 320px) {
        @content;
    }
}

@mixin tablet-only {
    @media only screen and (width:768px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop-small {
    @media screen and (min-width:1024px) and (max-width:1199px) {
        @content;
    }
}
@mixin desktop {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}