// Size Variables

$rem-4: 0.25rem;
$rem-8: 0.5rem;
$rem-10: 0.625rem;
$rem-12: 0.75rem;
$rem-13: 0.813rem;
$rem-14: 0.875rem;
$rem-18: 1.125rem;
$rem-16: 1rem;
$rem-20: 1.25rem;
$rem-22: 1.375rem;
$rem-24: 1.5rem;
$rem-32: 2rem;
$rem-36: 2.25rem;
$rem-40: 2.5rem;
$rem-44: 2.75rem;
$rem-48: 3rem;
$rem-56: 3.5rem;
$rem-60: 3.75rem;
$rem-64: 4rem;
$rem-68: 4.25rem;
$rem-80: 5rem;
$rem-96: 6rem;

// Color Variables

$blue: #0339f8;
$black: #191919;
$white: #ffffff;
$grey: #ededed;