@import './partials/partials.scss';

.App {
    &__ctn {
        width: 100%;
        margin: 0 auto;
    }
    &__wrapper {
        padding: 0 100px;
    }
    &__home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}